    body {
        background-image: url(../img/background_img.img.jpg);
        background-repeat: no-repeat;
        background-color: rgb(74, 116, 91);
    }
    
    header {
        margin: 10px 0px 0px 0px;
        background-color: dimgray;
        opacity: 70%;
        text-align: center;
    }
    
    header h1,
    p,
    a {
        color: ghostwhite;
        opacity: 100%;
    }
    
    header p,
    a {
        font-size: 20px;
    }
    
    header a {
        text-decoration: none;
    }
    
    header a:hover {
        color: pink;
        font-size: 25px;
    }
    
    .block {
        /* text-align: center; */
        margin: 120px 0px 10px 0px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .block__item {
        border: 20px solid rgb(92, 90, 90);
        width: 450px;
        height: 450px;
        text-align: center;
        background-color: rgb(9, 166, 172);
        font-size: 30px;
        color: seashell;
        font-weight: 500;
        opacity: 80%;
        backdrop-filter: blur(6px);
    }
    /* img .coordunate */
    
    label {
        font-size: 25px;
    }